<div class=" bg-yellow-500 dark:bg-yellow-500">
    <header class="z-30 flex items-center w-full h-24 sm:h-32">
        <div class="container flex items-center justify-between px-6 mx-auto">
             <div class="derechos"> 
                Copyright © 2025 RALCUADRADO. Todos los Derechos Reservados.
            </div>
        </div>
    </header>
<div/>
 