<div class=" bg-yellow-500 dark:bg-yellow-500">
   <header class="z-30 flex items-center w-full h-24 sm:h-32">
       <div class="container flex items-center justify-between px-6 mx-auto">
           <div class="text-3xl font-black text-gray-800 dark:text-dark">
               <img src="/Media/logo.png" alt="Logo" class="h-20 w-20 rounded-full mr-2">
            
           </div>
           <div class="flex items-center">
               <nav class="items-center hidden text-lg text-gray-800 font-sen dark:text-withe lg:flex">
                   <a href="/" class="flex px-6 py-2 hover:underline">
                    Inicio
                   </a>
                   <a href="#" class="flex px-6 py-2 hover:underline">
                    Acerca de
                   </a>
                   <a href="./misProfesores" class="flex px-6 py-2 hover:underline">
                    Mis Profesores
                   </a>
                   <a href="./MisServicios" class="flex px-6 py-2 hover:underline">
                    Mis Servicios
                   </a>
                   <a href="./contacto" class="flex px-6 py-2 hover:underline">
                    Contacto
                   </a>
               </nav>
               <button class="flex flex-col ml-4 lg:hidden">
                   <span class="w-6 h-1 mb-1 bg-gray-800 dark:bg-white">
                   </span>
                   <span class="w-6 h-1 mb-1 bg-gray-800 dark:bg-white">
                   </span>
                   <span class="w-6 h-1 mb-1 bg-gray-800 dark:bg-white">
                   </span>
               </button>
           </div>
       </div>
   </header>
<div/>
