@import "tailwindcss";

:root{
    --gray-light: 0, 0, 0;
    --gray-gradient: rgba(var(--gray-light), 80%),  #edae0eca ;
    --color-boton: rgb(18, 18, 172);
    --color-fondo: #4e3939;
    

    

}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px*/
}
*,*::before, *:after{
    box-sizing: border-box;
}
    body{
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    padding: 0;
}

.bg-gradient-gray {
    background: linear-gradient(var(--gray-gradient));
}
