@import "tailwindcss";

:root{
    --color-primario: rgb(215, 159, 6);
    --color-boton: rgb(17, 17, 76);
    --color-fondo: #fff;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px*/
}
*,*::before, *:after{
    box-sizing: border-box;
}
    body{
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    padding: 0;
}
  
