<div class="contPrincipal">
    <div class="plantilla">
        <div class="image">
            <img src="../../Media/Profesores/(1)rsa.jpg" alt="Foto perfil">
        </div>
        <div class="contenido">
            <div class="nombre">
                <h3>Hola mi nombre es: Rafael Alvarado Salazar </h3>
            </div>
            <div class="info">
                <p>Soy Ingeniero en energía, egresado de la UAM. </p>

                <p> Tengo más de 7 años de experiencia enseñando matemáticas y física a todos los niveles, desde primaria hasta universidad.
                    Fuera del salón de clases soy un atleta de alto rendimiento. Siendo representante del equipo municipal de natación.
                    El deporte y mi formación académica me enseñaron que no hay formula para el aprendizaje. Cada quien tiene su ritmo, sus propias habilidades y debilidades. 
                    Mi metodología se centra en sembrar bases fuertes y fomentar seguridad en todos mi alumnos.</p>
            </div>
            <div class="boton">
                <input type="button" value="Más sobre mí" >
            </div>

        </div>

    <div class="plantilla">

    </div>


    </div>
</div>
<style>
    .plantilla{
        width: 60%;
        display: flex;
        align-items: center;
        margin: 30px;
        gap:20px;
        padding: 20px;
        border-radius: 20px;
        height: auto;
        background-color: rgb(215, 159, 6);
    }
    img{
        padding: 20px;
        width: 2000px;
        height: auto;
        border-radius: 10px;
        
    }
    .contenido{
        display: flex;
        flex-direction: column; /* Elementos en columna */
        justify-content: center;
    }
    .nombre {
    text-align: left; /* Alinear el texto a la izquierda */
    font-size: 1.2em;
    font-weight: bold;
    }

    .info {
        margin-top: 10px;
    }

    .boton {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    .boton input{
        background-color: rgb(17, 17, 76);
        border: none;
        padding: 8px 15px;
        border-radius: 30px;
        color: white;
        cursor: pointer;
        align-self: center;
    }
    .boton input:hover{
        background-color: white;
        color:blue;
    }

</style>