<div class="contenedor-formulario">
    <form class="formulario" action="#" method="POST">
    <h2>Contacto</h2>
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="email" name="correo" placeholder="Correo Electrónico" required>
    <select name="grado">
        <option value="" disabled selected>Selecciona tu grado de estudio</option>
        <option value="Primaria">Primaria</option>
        <option value="Secundaria">Secundaria</option>
        <option value="Preparatoria">Preparatoria</option>
        <option value="Universidad">Universidad</option>
        
    </select>
    <textarea name="mensaje" placeholder="Escribe tu mensaje aquí..." required></textarea>
    <button type="submit">Enviar</button>
</form>
</div>

<style>
    .contenedor-formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-image: url(../../Media/fondoEscuela.jpg);
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .formulario {
    
        backdrop-filter: blur(10px);
        background: rgba(164, 163, 163, 0.049);
        padding: 20px;
        border-radius: 8px;
        max-width: 700px; /* límite superior */
        width: 90%; 
        display: flex;
        flex-direction: column;
        gap: 10px;
    
    }

    .formulario h2 {
        text-align: center;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .formulario input, 
    .formulario textarea, 
    .formulario select, 
    .formulario button {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .formulario textarea {
        resize: none;
        height: 80px;
    }

    .formulario button {
        background-color: rgb(215, 159, 6);
        color: white;
        font-size: 18px;
        border: none;
        cursor: pointer;
    }

.formulario button:hover {
    background-color: #0056b3;
}

@media (max-width:390px )  {
    
    .formulario{
        width: 50%;
    }
}
</style>
