<div class="contPrincipal">
    <div class="plantilla">
        <div class="image">
            <img src="../../Media/Profesores/Rubí.png" alt="Foto perfil">
        </div>
        <div class="contenido">
            <div class="nombre">
                <h3>Hola, mi nombre es Rubí Aviles </h3>
            </div>
            <div class="info">
                <p>Soy egresada de la Universidad Autónoma Metropolitana, de la licenciatura de Física.</p>

                <p> Tengo más de 7 años dedicando mi vida a la enseñanza de matemáticas y fisica y esta experiencia me ha enseñado que cada alumno 
                    tiene  aprendizaje y talentos distintos y en mí encontrarán las herramientas y conocimientos para poder encontrarlo y llevarlo a cabo.</p>
            </div>
            <div class="boton">
                <input type="button" value="Más sobre mí" >
            </div>

        </div>

    <div class="plantilla">

    </div>


    </div>
</div>
<style>
    .plantilla{
        width: 60%;
        display: flex;
        align-items: center;
        margin: 30px;
        gap:20px;
        padding: 20px;
        border-radius: 20px;
        height: auto;
        background-color: rgb(215, 159, 6);
    }
    img{
        padding: 20px;
        width: 2000px;
        height: auto;
        border-radius: 10px;
        
    }
    .contenido{
        display: flex;
        flex-direction: column; /* Elementos en columna */
        justify-content: center;
    }
    .nombre {
    text-align: left; /* Alinear el texto a la izquierda */
    font-size: 1.2em;
    font-weight: bold;
    }

    .info {
        margin-top: 10px;
    }

    .boton {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    .boton input{
        background-color: rgb(17, 17, 76);
        border: none;
        padding: 8px 15px;
        border-radius: 30px;
        color: white;
        cursor: pointer;
        align-self: center;
    }
    .boton input:hover{
        background-color: white;
        color:blue;
    }

</style>