<div class="contPrincipal">
    <div class="plantilla">
        <div class="image">
            <img src="../../Media/Profesores/MVR.png" alt="Foto perfil">
        </div>
        <div class="contenido">
            <div class="nombre">
                <h3>Hola mi nombre es: Mauricio Vázquez </h3>
            </div>
            <div class="info">
                <p>Soy Ingeniero en Energía con enfoque en Plantas Térmicas y el Impacto Ambiental. </p>

                <p> Soy una persona con gusto por el baloncesto, el turismo, la naturaleza, 
                la musica y el tiempo con los amigos haciendo actividades recreativas como ir al cine o bailar.</p>
                <p> Tengo interés en: <br />
                1. La investigación, diseño, instalación y mantenimiento de sistemas de refrigeración sistemas HVAC 
                y sistemas de licuefacción. Involucrado en mejorar la eficiencia energética 
                de los sistemas y gestionar los recursos que se utilizan para los procesos. <br />
                2. La enseñanza de los ejes fundamentales (matemáticas, física y español) 
                en los grados: primaria (6to grado), secundaria y media superior. 
                </p>
            </div>
            <div class="boton">
                <input type="button" value="Más sobre mí" >
            </div>

        </div>

    <div class="plantilla">

    </div>


    </div>
</div>
<style>
    .plantilla{
        width: 60%;
        display: flex;
        align-items: center;
        margin: 30px;
        gap:20px;
        padding: 20px;
        border-radius: 20px;
        height: auto;
        background-color: rgb(215, 159, 6);
    }
    img{
        padding: 20px;
        width: 1000px;
        height: auto;
        border-radius: 10px;
        
    }
    .contenido{
        display: flex;
        flex-direction: column; /* Elementos en columna */
        justify-content: center;
    }
    .nombre {
    text-align: left; /* Alinear el texto a la izquierda */
    font-size: 1.2em;
    font-weight: bold;
    }

    .info {
        margin-top: 10px;
    }

    .boton {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    .boton input{
        background-color: rgb(17, 17, 76);
        border: none;
        padding: 8px 15px;
        border-radius: 30px;
        color: white;
        cursor: pointer;
        align-self: center;
    }
    .boton input:hover{
        background-color: white;
        color:blue;
    }

</style>