<div class="contPrincipal">
    <div class="plantilla">
        <div class="image">
            <img src="../../Media/asesora.png" alt="Foto perfil">
        </div>
        <div class="contenido">
            <div class="nombre">
                <h3>Visión </h3>
            </div>
            <div class="info">
                <p> Cambiar el concepto y aversión que se tiene en México al estudio de las ciencias básicas e ingenierías.
                    Sembramos y fomentamos la curiosidad en los más jóvenes, dándoles bases y conocimientos solidos para que 
                    cada vez sean más los futuros científicos y científicas en el país.   </p>


                <p>
                    Fue así, que con mucho amor y pasión por las matemáticas se funda R².
                </p>
            </div>
            <div class="boton">
                <input type="button" value="Más sobre nosotros" >
            </div>

        </div>

    <div class="plantilla">

    </div>


    </div>
</div>
<style>
    .plantilla{
        width: 90%;
        display: flex;
        align-items: center;
        margin: 70px;
        gap:20px;
        padding: 20px;
        border-radius: 20px;
        height: auto;
        background-color: rgb(215, 159, 6);
    }
    img{
        padding: 20px;
        width: 2000px;
        height: auto;
        border-radius: 10px;
        
    }
    .contenido{
        display: flex;
        flex-direction: column; /* Elementos en columna */
        justify-content: center;
    }
    .nombre {
    text-align: left; /* Alinear el texto a la izquierda */
    font-size: 1.2em;
    font-weight: bold;
    }

    .info {
        margin-top: 10px;
    }

    .boton {
        margin-top: 15px;
        display: flex;
        justify-content: center;
    }

    .boton input{
        background-color: rgb(17, 17, 76);
        border: none;
        padding: 8px 15px;
        border-radius: 30px;
        color: white;
        cursor: pointer;
        align-self: center;
    }
    .boton input:hover{
        background-color: white;
        color:blue;
    }

</style>