<div class="contPrin">
    <div class="secciones">
        <div class="bienvenida">
            <h1>Bienvenidos a R²</h1>
            <p>Y nosotros ayudamos a la sociedad en: </p>
            
        </div>
        <div class="primaria">
            <h2>Primaria</h2>
            
        </div>
        <div class="Secundaria">
            <h2>Secundaria</h2>
            <div class="info">
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem, ipsum dolor.</p>
                <p>Lorem, ipsum dolor.</p>
            </div>
        </div>
        <div class="preparatoria">
            <h2>Preparatoria</h2>
        </div>
    </div>
</div>

<style>
    .contPrin {
    width: 100%;
    min-height: 110vh;
    background: linear-gradient(rgba(73, 73, 73, 0.5), rgba(248, 247, 247, 0.5)), 
                url('../../Media/salon.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
    .secciones{
        display: flex;
        flex-direction: column;
    }
    .bienvenida h1{
        font-size: 4rem;
        font-weight: bold;
        color: white;
        text-align: center;
    }
    p{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    .primaria, .Secundaria, .preparatoria{
        width: 40%;
        background-color: rgb(215, 159, 6);
        padding: 30px;
        margin: 30px;
        text-align: center;
        border-radius: 20px;
        color: dark;
        font-size: 2rem;
    }
    .primaria{
        order: 1;
    }
    .Secundaria{
        order: 2;
        height: 100px;
        align-self: flex-end;
        transition: all 0.5s ease-in-out
    }
    .Secundaria:hover {
        width: 90%;
        height: auto;
    }
    .Secundaria:hover h2 {
        display: none;
        
    }
    .Secundaria .info{
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
    .Secundaria:hover .info{
        opacity: 1;
        font-size: 1rem;
        text-align: left;
    }
    .preparatoria{
        order: 3;
    }

</style>